.left-menu {
  background: #F0F1EE; }
  .left-menu li {
    border-bottom-color: #1c1c1c;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
    .left-menu li a span {
      color: #787878;
      background: #F0F1EE; }
  .left-menu li:first-child {
    border-top-color: #1c1c1c;
    border-top-width: 1px;
    border-top-style: solid; }
  .left-menu li:hover {
    background: #fff;
    cursor: pointer; }
    .left-menu li:hover a span {
      color: #000;
      background: #fff; }
  .left-menu li.active {
    background: #fff; }
    .left-menu li.active a span {
      color: #000;
      background: #fff; }

.spinner {
  background: #000 !important; }

.right-content {
  color: #000 !important; }

#introduction {
  z-index: -1;
  background: #fff; }

#story {
  background: #fff; }

#blog {
  background: #fff; }

#products {
  background: #fff; }

#albums {
  background: #fff; }

#cv {
  background: #fff; }

#contact {
  background: #fff; }
