.left-menu {
  background: var(--left-menu-bg);
  font-family: 'Raleway', sans-serif;
  height: 100%;
  position: fixed;
  padding: 5px;
  width: 60%;
  text-align: center;
  overflow-y: auto;
  z-index: 3;
}

.left-menu li {
  height: 50px;
  border-bottom-color: #1c1c1c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.left-menu li a {
  display: table;
  height: 100%;
  width: 100%;
}

.left-menu li a span {
  display: table-cell;
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2;
  color: var(--left-menu-color);
  background: var(--left-menu-bg);
}

.left-menu li:first-child {
  border-top-color: #1c1c1c;
  border-top-width: 1px;
  border-top-style: solid;
}

.left-menu li:hover {
  background: #0d0d0d;
  cursor: pointer;
}

.left-menu li:hover a span {
  background-color: gray;
}

.left-menu li.active {
  background: #0d0d0d;
}

.left-menu li.active a span {
  color: #fff;
}

.left-menu img {
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .left-menu {
    display: none;
  }
  .header-menu {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) {
  .left-menu {
    width: 20% !important;
    display: block !important;
  }
  .header-menu {
    display: none !important;
  }
}