
.cursor-end {
  /* content: '|'; */
  border-right: solid .15em var(--main-color);
  animation: animated-cursor 600ms linear infinite;
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: var(--main-color);
  }
  to {
    border-right-color: transparent;
  }
}